<footer class="bg-blue text-white py-2">
    <div class="container-fluid">
        <div class="d-flex justify-content-between">
            <img src="{{ asset('build/images/148.png') }}" height="40" alt="148 Logo">
            <div class="socials">
                <a href="#"><img src="{{ asset('build/images/pictos/facebook_jaune.svg') }}" alt="Facebook" height="40"></a>
                <a href="#"><img src="{{ asset('build/images/pictos/instagram_jaune.svg') }}" alt="Instagram" height="40"></a>
                <a href="#"><img src="{{ asset('build/images/pictos/linkedin_jaune.svg') }}" alt="LinkedIn" height="40"></a>
                <span>
                    <img src="{{ asset('build/images/pictos/newsletter_jaune.svg') }}" alt="Newsletter" height="40">
                    Abonnez-vous à notre newsletter
                </span>
            </div>
        </div>
    </div>
</footer>