{% extends 'front/index.html.twig' %}

{% block title %}{{ 'page.reset.title'|trans }}{% endblock %}

{% block content %}
    <section class="pt-5">
        <div class="container pt-5">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="h3 mb-3 font-weight-normal">{{ 'page.reset.title'|trans }}</h1>
                            <form method="post">
                                <div class="form-group">
                                    <label for="email_forgot">{{ 'user.email'|trans }}</label>
                                    <input type="email" id="email_forgot" name="email" class="form-control" placeholder="{{ 'user.email'|trans }}" required>
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-primary" type="submit"><i class="fas fa-paper-plane"></i>{{ 'button.send'|trans }}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}