{{ form_start(form) }}
<div class="row">
    <div class="col-md-12 mb-2">
        {{ form_row(form.title) }}
    </div>
</div>
<div class="row">
    <div class="col-md-12 mb-2">
        {{ form_row(form.description) }}
    </div>
</div>

<div class="row">
    <div class="col-md-6 mb-3">
        {{ form_row(form.company) }}
    </div>
    <div class="col-md-6 mb-3">
        {{ form_row(form.location) }}
    </div>
</div>
<div class="row">
    <div class="col-md-4 mb-3">
        {{ form_row(form.startDate) }}
    </div>
    <div class="col-md-4 mb-3">
        {{ form_row(form.endDate) }}
    </div>
    <div class="col-md-4 mb-3">
        {{ form_row(form.isCurrentJob) }}
    </div>
</div>

<div class="col-md-12 text-center">
    {% include '_partials/buttons/save.html.twig' %}
</div>
</div>
{{ form_end(form) }}
