{% extends 'base.html.twig' %}
{% block body %}
    {% include '_partials/flash.html.twig' %}
    <div class="wrapper">
        <div class="sidebar">
            {% include 'back/_partials/sidebar.html.twig' %}
        </div>
        <div class="content">
            {% include 'back/_partials/navigation.html.twig' %}
            {% block content %}
                <section class="mt-3">
                    <div class="container">
                        <h1 class="mb-3">Dashboard</h1>
                        <div class="row">
                            {% if is_granted('ROLE_ADMIN') %}
                                <div class="col-md-4">
                                    <div class="card card-stat">
                                        <div class="card-body">
                                            <div class="d-flex align-items-center">
                                                <div>
                                                    <i class="fas fa-list-ul"></i>
                                                </div>
                                                <div class="flex-row pl-2">
                                                    <div class="number">{{ nb_product }}</div>
                                                    <div class="text">{{ (nb_product|length > 0 ) ? 'product.name'|trans : 'product.singular'|trans }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-stat">
                                        <div class="card-body">
                                            <div class="d-flex align-items-center">
                                                <div>
                                                    <i class="fas fa-file-invoice-dollar"></i>
                                                </div>
                                                <div class="flex-row pl-2">
                                                    <div class="number">{{ nb_quotes }}</div>
                                                    <div class="text">{{ 'quote.name'|trans }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-stat">
                                        <div class="card-body">
                                            <div class="d-flex align-items-center">
                                                <div>
                                                    <i class="fas fa-users"></i>
                                                </div>
                                                <div class="flex-row pl-2">
                                                    <div class="number">{{ nb_users }}</div>
                                                    <div class="text">{{ 'user.name'|trans }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </section>
            {% endblock %}
        </div>
    </div>
    {% include '_partials/footer.html.twig' %}
{% endblock %}