{% extends 'front/index.html.twig' %}

{% block title %}{{ 'user.nav.forgot'|trans }}{% endblock %}

{% block content %}
    <section class="min-vh-100">
        <div class="container pt-5">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="h3 mb-3 font-weight-normal">{{ 'user.button.reset'|trans }}</h1>
                            <form method="post">
                                <div class="form-group">
                                    <label for="email_forgot">{{ 'user.column.email'|trans }}</label>
                                    <input type="email" id="email_forgot" name="email" class="form-control" placeholder="{{ 'user.column.email'|trans }}" required>
                                </div>
                                <button class="btn btn-primary" type="submit">{{ 'user.button.reset'|trans }}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}