{% extends 'back/index.html.twig' %}

{% block title %}{{ 'project.plurial'|trans }}{% endblock %}

{% block buttons %}
    {% if is_granted("ROLE_ADMIN") %}
        {% include '_partials/buttons/new.html.twig' with {'href': path('back_project_new')} %}
    {% endif %}
{% endblock %}

{% block content %}
    <section>
        <div class="container-fluid">
            {% for key,item in projects %}
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <b><a href="{{ path('back_project_show', {'id': item.project.id}) }}">{{ item.project.name }}</a> / {{ key + 1 }}</b>
                                </div>
                                <div>
                                    {% if item.project.assigned %}
                                        {% if item.project.userAssigned.userId.id == app.user.id %}
                                            {% if item.project.ended %}
                                                {{ 'project.close'|trans }}
                                            {% else %}
                                                {{ 'project.pending'|trans }}
                                            {% endif %}
                                        {% else %}
                                            {{ 'project.reject'|trans }}
                                        {% endif %}
                                    {% else %}
                                        {{ 'project.waiting'|trans }}
                                    {% endif %}
                                </div>
                            </div>
                            <ul class="row list-inline tracking mt-4">
                                <li class="col-md-4 list-inline-item">
                                    <div class="text-center px-4">
                                        <div class="mb-4">
                                        <span class="check {% if item.project.assigned %}{% if item.project.userAssigned.userId.id == app.user.id %}active{% else %}inactive{% endif %}{% endif %}">
                                        </span>
                                        </div>
                                        <div>
                                            {% if item.project.assigned %}
                                                {% if item.project.userAssigned.userId.id == app.user.id %}
                                                    <i class="fas fa-2x fa-grin-alt"></i>
                                                    <b class="d-block mt-2 font-weight-normal">{{ 'tracking.select.active'|trans }}</b>
                                                {% else %}
                                                    <i class="fas fa-2x fa-sad-tear"></i>
                                                    <b class="d-block mt-2 font-weight-normal">{{ 'tracking.select.inactive'|trans }}</b>
                                                {% endif %}
                                            {% else %}
                                                {{ 'tracking.select.short'|trans }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-4 list-inline-item">
                                    <div class="text-center px-4">
                                        <div class="mb-4">
                                        <span class="check {% if item.project.state >= 2 %}active{% elseif (item.project.state + 1) == 2 %}incoming{% endif %}">
                                        </span>
                                        </div>
                                        <div>
                                            <i class="fas fa-2x fa-handshake"></i>
                                            <b class="d-block mt-2 font-weight-normal">{{ 'tracking.relation.short'|trans }}</b>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-4 list-inline-item">
                                    <div class="text-center px-4">
                                        <div class="mb-4">
                                        <span class="check {% if item.project.state >= 3 %}active{% elseif (item.project.state + 1) == 3 %}incoming{% endif %}">
                                        </span>
                                        </div>
                                        <div>
                                            <i class="fas fa-2x fa-thumbs-up"></i>
                                            <b class="d-block mt-2 font-weight-normal">{{ 'tracking.finish.short'|trans }}</b>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
            {% else %}
                {{ 'project.empty'|trans }}
            {% endfor %}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('project') }}
{% endblock %}
